<%- include('menu')%>

<div class="container">
  <h1>Add User</h1>
  <form action="/useraction" method="post">
    <input type="text" name="name" id="" placeholder="Name" /><br />
    <input type="text" name="email" id="" placeholder="Email" /><br />
    <input type="text" name="mobile" id="" placeholder="Mobile No" /><br />
    <button>Add</button>
  </form>
</div>
