a{
    color: #666 !important;
}
a:hover{
    color: orange !important;
}
header{
    padding: 15px 0;
}
.slider{
padding: 15px 0;
}
h2{
    padding: 15px 0;
}
footer{
    background-color: black;
    margin-top: 20px;
    padding: 20px 0;
}
footer h4{
    color: #fff;
}

@media only screen and (max-width: 576px) {

    .logo {
        text-align:center ;
        padding: 10px 0;
    }
    .top-menu{
        justify-content: center !important;
    }
}